<template>
  <div v-if="isErrorState">
    {{message}}
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  mounted() {
  },

  computed: {
    ...mapState('error', ['isErrorState', 'message']),
  }
};
</script>


<style>
</style>
