<template>
  <nav class="navbar">
    <ul class="flex flex-row justify-end">
      <li v-for="item in items" v-if="isVisible(item)">
        <nuxt-link :to="item.path" v-if="isLink(item.type)" class="menu-item">{{item.label}}</nuxt-link>
        <button type="button" @click="item.handler" v-if="isButton(item.type)" class="menu-item">Log Out</button>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapActions } from 'vuex';

const ItemTypes = {
  Link: 'link',
  Button: 'button',
};

export default {
  computed: {
    items() {
      return [
        {
          type: ItemTypes.Link,
          path: '/',
          label: 'Home',
          constraints: [],
        },
        {
          type: ItemTypes.Link,
          path: '/signup',
          label: 'Sign Up',
          constraints: [
            !this.isUserLoggedIn,
          ],
        },
        {
          type: ItemTypes.Link,
          path: '/login',
          label: 'Log In',
          constraints: [
            !this.isUserLoggedIn,
          ],
        },
        {
          type: ItemTypes.Link,
          path: '/profile',
          label: 'Profile',
          constraints: [
            this.isUserLoggedIn,
          ],
        },
        {
          type: ItemTypes.Button,
          label: 'Log Out',
          handler: this.logOut,
          constraints: [
            this.isUserLoggedIn,
          ],
        },
      ];
    },
  },
  methods: {
    ...mapActions('user', ['logOut']),
    isLink(prop) {
      return prop === ItemTypes.Link;
    },
    isButton(prop) {
      return prop === ItemTypes.Button;
    },
    isVisible(item) {
      const isCurrentPath = item.path === this.currentPath;
      return !isCurrentPath && item.constraints.every(Boolean);
    },
  },
  props: {
    currentPath: String,
    isUserLoggedIn: Boolean,
  },
};
</script>


<style scoped>
.navbar {
  @apply relative flex flex-wrap items-center justify-between px-2 py-3 bg-green-500 mb-3;
}

.menu-item {
  @apply bg-green-700 rounded-sm ring-green-300 mx-4 px-4 py-2 inline-block;
}
</style>
