.container {
  @apply min-h-screen flex justify-center items-start text-center mx-auto;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.input {
  @apply bg-blue-100 shadow px-2 py-1;
}

.button {
  @apply bg-blue-300 shadow px-2 py-1;
}
