<template>
  <div>
    <navigation :current-path="currentPath" :is-user-logged-in="isUserLoggedIn" />
    <error-panel />
    <Nuxt />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import Navigation from '../components/Navigation.vue';
import ErrorPanel from '../components/ErrorPanel.vue';

export default {
  components: {
    Navigation,
    ErrorPanel,
  },
  computed: {
    ...mapGetters('user', ['isUserLoggedIn']),
  },
  data() {
    return {
      currentPath: this.$router.currentRoute.fullPath,
    }
  },
  watch: {
    $route(newRoute) {
      this.currentPath = newRoute.fullPath;
    },
  }
}
</script>
