<template>
  <div class="container">
    <div>
      <h1 class="title">
        nhost-auth-flow
      </h1>
      <div class="description">
        <p>This is a repository for creating an opinionated (it is always opinionated) version of an elegant authentication flow for front-end and document it.</p>
        <p>It won't have much content or anything else. It is just about the actions that allow you to have a functional user flow on the side from the perspective of front-end.</p>
        <p>All information is contained here so you can simply remove this div from `pages/index.vue` and use it for your own project.</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    ...mapActions('user', ['initialize']),
  },
  mounted() {
    this.initialize();
  }
}
</script>
