<template>
  <div class="container">
    <div>
      <h1 class="title">
        Profile
      </h1>
      <img :src="avatarUrl" alt="Avatar image" />
      <p>Member since {{ memberSince.month }} {{ memberSince.year }} </p>
      <form>
        <div class="field">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" v-model="username" class="input" />
        </div>
        <div class="field">
          <label for="displayName">Name:</label>
          <input type="text" name="displayName" id="displayName" v-model="displayName" class="input" />
        </div>
        <div class="field">
          <label for="avatarUrl">Avatar URL:</label>
          <input type="text" name="avatarUrl" id="avatarUrl" v-model="avatarUrl" class="input" />
        </div>
        <!-- Use a draft and load from draft -->
        <button type="button" class="button">Reset</button>
        <button type="button" @click="getProfile" class="button">Save</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

const Months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December',
];

export default {
  data: () => ({
    username: '',
    displayName: '',
    avatarUrl: '',
    createdAt: null,
  }),
  methods: {
    ...mapActions('user', ['getProfile']),
    setProfileData({ avatar_url, created_at, display_name, email }) {
      this.username = email;
      this.displayName = display_name;
      this.avatarUrl = avatar_url;
      this.createdAt = created_at;
    },
  },
  computed: {
    memberSince() {
      const date = new Date(this.createdAt);

      return {
        year: date.getUTCFullYear(),
        month: Months[date.getUTCMonth()],
      }
    }
  },
  async mounted() {
    const profile = await this.getProfile();

    this.setProfileData(profile);
  },
  middleware: 'auth',
}
</script>

<style scoped>
.field {
  @apply flex flex-row justify-between m-2;
}

label {
  @apply pr-4;
}
</style>