<template>
  <div class="container">
    <div>
      <h1 class="title">
        Register
      </h1>
      <form>
        <label for="username">
          Username:
          <input type="text" name="username" id="username" v-model="username" class="input" />
        </label>
        <label for="password">
          Password:
          <input type="password" name="password" id="password" v-model="password" class="input" />
        </label>
        <button type="button" @click="registerUser" class="button">Create</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data: () => ({
    username: '',
    password: '',
  }),
  methods: {
    ...mapActions('user', ['signUp']),
    registerUser() {
      this.signUp({ username: username.value, password: password.value });
    }
  }
}
</script>
